

div.bg-dark.text-light.py-5
    
  div.container
    
    h2.text-uppercase.fw-bold= title

    div.row.align-items-stretch

      h3.col-md-8 #{__('Welcome')}, #{user.name} 
      
      if (user.type != 'admin')
        form.col-md-4(method="GET", action="")
          div.input-group
            select#input-department.form-select(name="fsection")
              option(disabled)= __('Choose a section')
              each d, i in sections
                option(value=d selected=(d==section?true:false))=d
            button.btn.btn-primary(type="submit")= __('Search')
  
    form.mt-3(method="POST", action='/logout')
      div.input-group
        button.btn.btn-danger(type="submit")= __('user.Log out')





