
extends layout

block content
  
  div.bg-dark.text-light.py-5
    
    div.container
      
      div.row.align-items-stretch

        h2.col-md-8 Welcome, Prof. Job Paul
        
        form.col-md-4(method="GET", action="")
          div.input-group
            select#input-department.form-select(name="fsection")
              option(disabled)= __('Choose a section')
              each d, i in sections
                option(value=d selected=(d==section?true:false))=d
            button.btn.btn-primary(type="submit")= __('Search')
  

  div.py-5

    ul.container.list-unstyled
      
      -var empty_text = __('No project found') 
      each d in data

        li
          div.card.border-dark.mb-3
            div.card-header= d.supervisor_name
            div.card-body.text-dark
            
              table.table
                thead
                  tr
                    th(scope="col") #
                    th(scope="col")= __('Name')
                    th(scope="col")= __('Matriculation Number')
                    th(scope="col")= __('Status')
                    th(scope="col") 
                tbody
                  each s, i in d.projects
                    tr
                      th(scope="row")=i+1
                      td=s.student_name
                      td=s.student_matric_number
                      td=__('project-status-array.'+s.status)
                      td
                        a(href='/project/'+s.id)= __('View')

                  else 

                    tr
                      td(colspan="5")
                        include no_data
      
      else

        li
          include no_data

    
    div.container.my-5(aria-label="Page navigation example")
      ul.pagination.justify-content-end

        li.page-item(class=pagination.previous?'':'disabled')
          a.page-link(href=pagination.url+(pagination.page-1), tabindex=pagination.previous?'':'-1')= __('Previous')
        
        
        -for(var i=pagination.start; i<pagination.len; i++)
          li.page-item(class=(i==pagination.page ? 'active' : ''))
            a.page-link(href=pagination.url+i)=i
        
        li.page-item(class=pagination.next?'':'disabled')
          a.page-link(href=pagination.url+(pagination.page+1), tabindex=pagination.next?'':'-1')= __('Next')












