extends layout


block content
  
  include input_mixins
  
  div.container

    form.common-form.mx-auto.my-5.p-5.bg-light.rounded(method="POST" action="add")

      include project_icon
      
      h3.text-center.text-uppercase.mb-3= __('Project')
      
      +formMsg()

      div.row.mb-3
        label.col-sm-2.col-form-label(for="input-email")= __('user.Internal Supervisor Email')
        div.col-sm-10
          input#input-email.form-control(
            type="email", 
            name="email", 
            class= inputHasError('email'),
            value= inputHasValue('email'),
            required
          )
          +errorBox('email')
      
      div.row.mb-3
        label.col-sm-2.col-form-label(for="input-department")= __('user.Department')
        div.col-sm-10
          select#input-department.form-select(
            name="department",
            class= inputHasError('department'),
            required
          )
            option(value="")=__('Choose a department')
            - var depts = __('departments-array');
            each d, i in depts
              option(
                value= i,
                selected= selectHasValue('department', i)
              )= d
          +errorBox('department')
      
      div.row.mb-3
        label.col-sm-2.col-form-label(for="input-section")= __('Section')
        div.col-sm-10
          select#input-section.form-select(
            name="section",
            class= inputHasError('section'),
            required
          )
            option(value="")=__('Choose a section')
            -for (var i=year-1; i>year-5; i--)
              option(
                value= i+'/'+(i+1),
                selected= selectHasValue('section', i)
              )= i+'/'+(i+1)
          +errorBox('section')

      
      div.row.mb-3
        label.col-sm-2.col-form-label(for="input-password")= __('user.Password')
        div.col-sm-10
          input#input-password.form-control(
            type="password", 
            name="password"
            class= inputHasError('password'),
            minlength="6"
            required
          )
          +errorBox('password')
  
      button.btn.btn-primary(type="submit")= __('user.Add')









